@import './config';
@import './media';

@mixin phone{

  @include media("<=phone"){
    @content;
  }
}
@mixin biggerPhone{
  @include media('<767px'){
    @content;
  }
}
@mixin tablet{
 
  @include media('>=tablet','<1112px'){
    @content;
  }
}
@mixin desktop{
  @include media('>1113px','1920px'){
    @content;
  }
}

@function rem($size) {
    @return $size / 16px * 1rem;
    
  }
  @function letterSpacing($size) {
    @return $size / 16px * 1rem;
    
  }
  @mixin fontSize($size) {
    font-size: rem($size);
  }
  @mixin letterSpacing($size) {
    letter-spacing: letterSpacing($size);
  }
  @mixin rotate($degrees) {
    -webkit-transform: rotate($degrees);
    -moz-transform: rotate($degrees);
    -ms-transform: rotate($degrees);
    -o-transform: rotate($degrees);
    transform: rotate($degrees);
}
@mixin h1-tags{
    font-family: 'Mark-Medium';
    @include fontSize(48px);
    @include letterSpacing(4px);
    color: #111111;
    text-transform: uppercase;
    padding: 130px 15px;

}
@mixin h1-tags-mobile{
  margin: 0;
  padding: 4em 1em;
  width: auto;
  font-family: 'Mark-Medium';
  @include fontSize(35px);
  @include letterSpacing(2px);
  color: #111111;
  text-transform: uppercase;
  line-height: 1.4em;

}
@mixin paragraph-mobile{
  line-height: 1.4em;
  @include fontSize(16px);
  
}
@mixin paragraph-tablet{
  margin: 45px 80px;
  @include fontSize(22px);
}
@mixin buttonMainBigMobile{
    padding: 1.5em;
    margin: 0;
    justify-content: space-around;
    display: flex;
    a{
      padding: 15px 65px !important;
     
    }
}
@mixin buttonMainBigMobileLast{
  padding: 1.5em;
  margin: 0;
  justify-content: space-around;
  display: flex;
  a{
    padding: 15px 100px !important;
   
  }
}
@mixin buttonMainBig{
    a{
      font-family: 'Mark-Bold';
      @include fontSize(14px);
      @include letterSpacing(3px);
      display: flex;
      align-items: center;
      padding: 15px 120px;
      border: 2px solid rgba($color: #111111, $alpha: 0.3);
    img{
        width: 35px;
        height: 35px; 
        padding-right: 10px;
    }
        .buttonText{
            text-transform: uppercase;
            } 
        
    }
}
@mixin buttonMain{
    a{
      font-family: 'Mark-Bold';
      @include fontSize(12px);
      @include letterSpacing(2px);
      display: flex;
      align-items: center;
      padding: 6px 30px;
      border: 2px solid rgba($color: #111111, $alpha: 0.3);

    img{
        width: 35px;
        height: 35px; 
        padding-right: 10px;
    }
        .buttonText{
            text-transform: uppercase;
                
            } 
        
    }
}
@mixin buttonMainBigBlue{
    a{
      font-family: 'Mark-Bold';
      @include fontSize(14px);
      @include letterSpacing(3px);
      color: #f2f2f2;
      display: flex;
      align-items: center;
      padding: 15px 120px;
      background-color: #0093d8;
      border: 2px solid rgba($color: #0093d8, $alpha: 1);
    img{
        width: 35px;
        height: 35px; 
        padding-right: 10px;
    }
        .buttonText{
            text-transform: uppercase;
            } 
        
    }
}
@mixin centeredParagraph{
    text-align: center;
    margin: 45px 150px;
    line-height: 1.5em;
}
@mixin hoverColorState{
    color: #0093d8;
    transition: color .3s ease;
  }
  @mixin navigationBackgroundAnimate {
    animation-name: position_change;
	    animation-duration: 20s;
	    animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: ease-in-out; 
      animation-delay: 0;
      animation-play-state: running;
    @-webkit-keyframes position_change{
      from { background-position-x: 155%; }
      to { background-position-x: 0; }
    }
    @-moz-keyframes position_change {
      from { background-position-x: 155%; }
      to { background-position-x: 0; }
    }
    @-ms-keyframes position_change {
      from { background-position-x: 155%; }
      to { background-position-x: 0; }
    }
    @-o-keyframes position_change {
      from { background-position-x: 155%; }
      to { background-position-x: 0; }
    }
    @keyframes position_change {
      from { background-position-x: 155%; }
      to { background-position-x: 0; }
    }
  }
  @mixin phoneNavigationBackgroundAnimate {
    animation-name: position_change;
	    animation-duration: 10s;
	    animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: ease-in-out; 
      animation-delay: 0;
      animation-play-state: running;
    @-webkit-keyframes position_change{
      from { background-position-x: 100%; }
      to { background-position-x: 0; }
    }
    @-moz-keyframes position_change {
      from { background-position-x: 100%; }
      to { background-position-x: 0; }
    }
    @-ms-keyframes position_change {
      from { background-position-x: 100%; }
      to { background-position-x: 0; }
    }
    @-o-keyframes position_change {
      from { background-position-x: 100%; }
      to { background-position-x: 0; }
    }
    @keyframes position_change {
      from { background-position-x: 100%; }
      to { background-position-x: 0; }
    }
  }
  @mixin scrollAnimation {
    animation-name: scrollline;
	    animation-duration: 1s;
	    animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: ease-in-out; 
      animation-delay: 0;
      animation-play-state: running;
    @-webkit-keyframes scrollline{
      from {   right: 35px; }
      to { right: 25px; }
    }
    @-moz-keyframes scrollline {
      from {  right: 35px; }
      to { right: 25px; }
    }
    @-ms-keyframes scrollline {
      from {   right: 35px; }
      to { right: 25px; }
    }
    @-o-keyframes scrollline {
      from {   right: 35px; }
      to { right: 25px; }
    }
    @keyframes scrollline {
      from {  right: 35px; }
      to { right: 25px; }
    }
  }
  @mixin scrollAnimationDesktop {
    animation-name: scrollline;
	    animation-duration: 1s;
	    animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: ease-in-out; 
      animation-delay: 0;
      animation-play-state: running;
    @-webkit-keyframes scrollline{
      from {  left: -45px; }
      to { left: -55px; }
    }
    @-moz-keyframes scrollline {
      from {  left: -45px; }
      to { left: -55px; }
    }
    @-ms-keyframes scrollline {
      from {  left: -45px; }
      to { left: -55px; }
    }
    @-o-keyframes scrollline {
      from { left: -45px; }
      to { left: -55px; }
    }
    @keyframes scrollline {
      from { left: -45px; }
      to { left: -55px; }
    }
  }
  
  @mixin lineAnimateButton {
    font-family: 'Mark-Bold';
      @include fontSize(12px);
      @include letterSpacing(2px);
      display: flex;
      align-items: center;
      padding: 15px 120px;
      border: 2px solid rgba($color: #111111, $alpha: 0.3);
      position: relative;
      transition: all 600ms ease-in-out;
    img{
        width: 35px;
        height: 35px; 
        padding-right: 10px;
    }
        .buttonText{
            text-transform: uppercase;
                
            } 
    &:hover{
      border: 2px solid rgba($color: #111111, $alpha: 0);
      transition: all 300ms ease-in-out;
      color: #da2a8f;
    }
    &:before{
      position: absolute;
      content: '';
      height: 0;
      width: 0;
      border: 3px solid transparent;
      left: -3px;
      bottom: -1px;
      box-sizing: border-box;
      
    }
    &:hover:before{
      height: 104%;
      width: 101%;
      border: 3px solid #da2a8f;
      border-right: none;
      border-bottom: none;
      transition: height .2s ease-in-out, width .3s ease-in-out .2s;

    }

    &:after{
      position: absolute;
      content: '';
      height: 0;
      width: 0;
      border: 3px solid transparent;
      top: 0px;
      right: -2px;
      box-sizing: border-box;
    
    }
    &:hover:after{
      height: 102%;
      width: 101%;
      border: 3px solid #da2a8f;
      border-left: none;
      border-top: none;
      transition: height .2s ease-in-out, width .3s ease-in-out .2s;

    }
  }
  @mixin lineAnimateButtonBlue {
    font-family: 'Mark-Bold';
      @include fontSize(12px);
      @include letterSpacing(2px);
      display: flex;
      align-items: center;
      padding: 15px 120px;
      border: 2px solid rgba($color: #111111, $alpha: 0.3);
      position: relative;
      transition: all 600ms ease-in-out;
    img{
        width: 35px;
        height: 35px; 
        padding-right: 10px;
    }
        .buttonText{
            text-transform: uppercase;
                
            } 
    &:hover{
      border: 2px solid rgba($color: #111111, $alpha: 0);
      transition: all 300ms ease-in-out;
      color: #0093d8;
    }
    &:before{
      position: absolute;
      content: '';
      height: 0;
      width: 0;
      border: 3px solid transparent;
      left: -3px;
      bottom: -1px;
      box-sizing: border-box;
      
    }
    &:hover:before{
      height: 104%;
      width: 101%;
      border: 3px solid #0093d8;
      border-right: none;
      border-bottom: none;
      transition: height .2s ease-in-out, width .3s ease-in-out .2s;

    }

    &:after{
      position: absolute;
      content: '';
      height: 0;
      width: 0;
      border: 3px solid transparent;
      top: 0px;
      right: -2px;
      box-sizing: border-box;
    
    }
    &:hover:after{
      height: 102%;
      width: 101%;
      border: 3px solid #0093d8;
      border-left: none;
      border-top: none;
      transition: height .2s ease-in-out, width .3s ease-in-out .2s;

    }
  }